* {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 4px solid black;
    background-color: cornflowerblue
}

.navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 40px
}

h1 {
    font-size: 35px;
    margin-top: 35px;
    color: white;
}

body {
    font-family: 'Lily Script One', cursive;
    background-color: turquoise;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 10px;
}

.city-input {
    width: 150px;
    height: 25px;
    margin-top: 10px;
}