* {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 6px solid yellow;
    background-color: black
}

.navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 40px
}

h1 {
    font-size: 35px;
    margin-top: 35px;
    color: white;
}

body {
    font-family: 'Lily Script One', cursive;
    background-image: url('https://images.unsplash.com/photo-1537198000630-8420420cd522?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FsbSUyMHdhdGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
}

.city-input {
    width: 150px;
    height: 25px;
    margin-top: 10px;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.city-input {
    margin-bottom: 10px;
}

#current-date-and-time {
    color: white;
}